<html>
    <head>
        <meta charset="UTF-8">
        <title> Identity </title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- Links do CSS -->
        <link rel="stylesheet" href="{{ url_for('static', filename='css/padrao_style.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/central_cores_style.css') }}">
        <link rel="icon" href="{{ url_for('static', filename='imagens/icone_identity.png') }}">
    </head>
    <body>

        <!-- Definindo a barra de navegação do site -->
        <ul class="navbar">
            <li><a class = "outras_paginas" href="{{ url_for('home') }}">Home</a></li>
            <li><a class = "pagina_atual" href="{{ url_for('central_cores') }}">Cores</a></li>
            <li><a class = "outras_paginas" href="{{ url_for('central_paletas') }}">Paletas</a></li>
            <li><a class = "outras_paginas" href="{{ url_for('sobre') }}">Sobre</a></li>
        </ul>

        <!-- Aqui vai ficar a barra de pesquisa de cores -->
        <div class = "grid_caixa_pesquisa">
            <div class = "grid_img_pesquisa">
                <img src="{{ url_for('static', filename='imagens/img_busca_sem_fundo.png') }}" class = "imagem_busca" alt="Buscar">
                <input type="text" class = "input_busca" placeholder="Faça uma pesquisa">
            </div>
        </div>

        <!-- Definindo o layout da div das cores -->
        <div class="grid_card_cor">
            {% for cor in cores %}
                <div class="card_cor">
                    <p class="nome_cor">{{ cor.nome_cor }}</p>
                    <div class="quadrado_externo">
                        <div class="quadrado_interno" style="--cor: {{ cor.hex }};"></div>
                        <span class="codigo_cor">{{ cor.hex }}</span>
                    </div>
                </div>
            {% endfor %}
        </div>

        <div class ="notificacao_cores">
            <p class="texto_notificacao"> Infelizmente não encontramos essa cor </p>
        </div>

        <script src="{{ url_for('static', filename='js/central_cores.js') }}"></script>

        <!-- Definindo o rodapé do site -->
        <footer class="footer">
            <div class="footer-conteudo">
                <h3>Identity</h3>

                <p class="footer-descricao"> Projeto desenvolvido para fins de estudo em desenvolvimento web. </p>

                <p class="footer-stack"> HTML - CSS - JavaScript - Python (Flask) </p>

                <span class="footer-copy">
                    © 2026 — Arieli Leandro
                </span>
            </div>
        </footer>
    </body>
</html>